{% extends "master.html" %}



{% block title %}
Credentials
{% endblock %}


    {% block content %}


  <div class="user_options-container">

    <div class="user_options-text">
      <div class="user_options-unregistered">

        <h2 class="user_unregistered-title">Don't have an account?</h2>
        <p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
        <button class="user_unregistered-signup" id="signup-button">Sign up</button>
      </div>

      <div class="user_options-registered">
        <h2 class="user_registered-title">Have an account?</h2>
        <p class="user_registered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
        <button class="user_registered-login" id="login-button">Login</button>
      </div>
    </div>




    <div class="user_options-forms" id="user_options-forms">

      <div class="user_forms-login">
        <h2 class="forms_title">Login</h2>


        <form class="forms_form" action="{% url 'members:vm_provisioning' %}" method="post">
               {% csrf_token %}
          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="email" placeholder="Email" class="forms_field-input" required autofocus />
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Password" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
              <button type="button" id="button"   data-toggle="modal" data-target="#myModal1">
Forgot password?
</button>
<!--            <button type="button" class="forms_buttons-forgot">Forgot password?</button>-->
<!--            <input type="submit" value="Log In" class="forms_buttons-action">-->
               <input type="submit" id="myInput" value="Login">
          </div>
        </form>
      </div>
      <div class="user_forms-signup">

        <h2 class="forms_title">Sign Up</h2>
        <form class="forms_form">
            {% csrf_token %}

          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="text" placeholder="First Name" class="forms_field-input"  />
            </div>

             <div class="forms_field">
              <input type="text" placeholder="Last Name" class="forms_field-input" />
            </div>

            <div class="forms_field">
              <input type="email" placeholder="Email" class="forms_field-input" />
            </div>

          </fieldset>
          <div class="forms_buttons">
<!--            <input type="submit" value="Sign up" class="forms_buttons-action">-->

            <!-- Button trigger modal -->
<button type="button" style="text-align:center;display: block; margin: 0 auto;" class="button" data-toggle="modal" data-target="#verification">
  Sign Up
</button>



<!--            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Submit and Open Modal</button>-->

<script>
    $(document).ready(function() {
        $('button[type="submit"]').click(function(e) {
            e.preventDefault();
            $('#myModal').modal('show');
        });
    });
</script>

<!-- Modal -->



          </div>

          <!-- Trigger/Open The Modal -->
<!-- Button trigger modal -->




           <div >
            <p  style='text-align:center; font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #ccc; '><br> or</p>
          </div>

           <div class="forms_buttons">
            <input style=" margin-right: 20px;" type="submit" value="Join with google" class="forms_buttons-action">
             <input  type="submit" value="Join with office" class="forms_buttons-action">

          </div>
        </form>
      </div>
    </div>
  </div>

<div class="modal" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Check email for verification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form >
             {% csrf_token %}

      <input type="text" class="modal-field" name="verification_code" placeholder= "Enter Verification Code" required>


      </div>
      <div class="modal-footer">
 <input type="submit" class="modalInput" name="submit" value="Submit">
    </form>
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save fchanges</button>-->
      </div>

    </div>
  </div>
</div>

    <div class="modal" id="myModal1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Account Retrival</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form class="forms_form" action="{% url 'members:forgotpass' %}" method="post">

  {% csrf_token %}
      <label>Let's Find Your Account:</label>
      <input type="text" class="modal-field" name="Email"  placeholder="Enter your email" required>


      </div>

      <div class="modal-footer">
          <button type="button" type="submit"  class="modalbutton" class="button:hover" data-dismiss="modal" data-toggle="modal" data-target="#loginredirect">
  Search
</button>
<!--<input type="submit" id="modalInput" value="Search">-->
          </form>
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>

    </div>
  </div>
</div>

<div class="modal" id="loginredirect" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Check email for verification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form class="forms_form" action="{% url 'members:loginredirect' %}" method="post">
             {% csrf_token %}

      <input type="text" class="modal-field" name="verification_code" placeholder= "Enter Verification Code" required>


      </div>
      <div class="modal-footer">
 <input type="submit" class="modalInput" name="submit" value="Submit">
    </form>
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save fchanges</button>-->
      </div>

    </div>
  </div>
</div>


<div class="modal" id="verification" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">Check email for verification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form class="forms_form" action="{% url 'members:target_page' %}" method="post">
             {% csrf_token %}

      <input type="text" class="modal-field" name="verification_code" placeholder= "Enter Verification Code" required>


      </div>
      <div class="modal-footer">
 <input type="submit" class="modalInput" name="submit" value="Submit">
    </form>
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save fchanges</button>-->
      </div>

    </div>
  </div>
</div>

{% endblock %}





<!----------Designed By Pradeep Singh Tomar------------>


