{% extends "master.html" %}




{% block title %}
forgotpass
{% endblock %}



{% block content %}



          <!-- Trigger/Open The Modal -->
<!-- Button trigger modal -->


  <div class="user_options-container">
    <div class="user_options-text">
      <div class="user_options-unregistered">
        <h2 class="user_unregistered-title">Create password</h2>
        <p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
<!--        <button class="user_unregistered-signup" id="signup-button">Sign up</button>-->
      </div>





    <div class="user_options-forms" id="user_options-forms">
      <div class="user_forms-login">
        <h2 class="forms_title">New Password</h2>
        <form class="forms_form" action="{% url 'members:credentials' %}" method="post" >
             {% csrf_token %}

          <fieldset class="forms_fieldset">
            <div class="forms_field">
              <input type="password" placeholder="Password" class="forms_field-input" required />
            </div>
            <div class="forms_field">
              <input type="password" placeholder="Retype password" class="forms_field-input" required />
            </div>
          </fieldset>
          <div class="forms_buttons">
<!--            <button type="button" class="forms_buttons-forgot">Forgot password?</button>-->
<!--&lt;!&ndash;            <input type="submit" value="Log In" class="forms_buttons-action">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="user_registered-login" id="login-button">Sign Up</button>&ndash;&gt;-->
<!--            <button class="user_unregistered-signup" id="signup-button">Sign up</button>-->
 <div>
                 <input type="submit" id="myInput" value="Submit">

             </div>
          </div>
        </form>
       </div>



 </div>
           </div>
        </form>
      </div>
    </div>
  </div>



  </div>
</div>

{% endblock %}

