{% extends "master1.html" %}
{% block title %} VM provisioning {% endblock %}
{% block content %}

<section>


    <div class="main-container">
        <div class="scontainer">
            <div class="srow">
                <h4 class="sleft">Create Server</h4>
                <p class="sright"><b>$1.0753</b>/day</p>
            </div>
            <div class="srow separator">
                <h4 class="sleft">Server details</h4>
            </div>
            <form class="sform separator">
                <div class="sform-group">
                    <label for="server-name">Server name:</label>
                    <input class="input-border" class='sform-group input' type="text" id="server-name" placeholder="server-09">
                    <i class="icon-help fas fa-question-circle"></i>
                </div>
                <div class="sform-group ">
                    <label for="region">Region:</label>
                    <input class="input-border" class='sform-group input' type="text" id="region" placeholder="Nairobi(NBI)">
                    <i class="icon-help fas fa-question-circle"></i>
                </div>
            </form>
        </div>
        <div class="container2 separator">
            <div class="scol-1">Virtual Server</div>
            <div class="scol-2">On Metal<sup>TM</sup>Server</div>
        </div>
        <div class="scontainer separator">
            <div class="srow">
                <h4 class="sleft">Image</h4>
                <div class="checkbox-container">
                    <input type="checkbox" id="show-most-popular-image-only">
                    <label for="show-most-popular-image-only"></label>
                    <p class="sright"> Show most popular image only</p>
                </div>
            </div>
        </div>

        <div class="s-container separator">
            <div class="s-side-nav">
                <div class="dropdown dropright">
                    <a href="#">
                     <i class="fas fa-image">Image Type</i>
                    </a>
                </div>

                <div class="dropdown dropright">
                    <a href="#" class="dropdown-toggle">
                    <i class="fab fa-linux">Linux applications</i>
                        </a>
                    <div class="dropdown-menu">
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                             <i class="fas fa-circle" style="float:left;"> AlmaLinux</i>
                                </a>

                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                            <i class="fas fa-circle">CentOS</i>
                            </a>
                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                              <i class="fas fa-circle">Debian</i>
                            </a>
                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                              <i class="fas fa-circle">  Fedora</i>
                            </a>
                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                              <i class="fas fa-circle">Fortinet</i>
                            </a>
                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                              <i class="fas fa-circle">Rocky Linux</i>
                            </a>
                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                              <i class="fas fa-circle">Ubuntu</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="dropdown dropright">
                    <a href="#" class="dropdown-toggle">
                      <i class="fab fa-windows">Windows</i>
                    </a>
                                    <div class="dropdown-menu">
                        <!-- Windows dropdown items -->
                    </div>
                </div>


                <div class="dropdown dropright">
                    <a href="#" class="dropdown-toggle">
                      <i class="fas fa-save">Saved</i>
                    </a>
                    <div class="dropdown-menu">
                        <!-- Saved dropdown items -->
                    </div>
                </div>

            </div>



            <div class="s-top-nav">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle">
                          <i class="fas fa-laptop">Operating System</i>
                        </a>
                    <div class="dropdown-menu">
                        <!-- Operating System dropdown items -->
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle">
                          <i class="fas fa-code-branch">Version</i>
                        </a>
                    <div class="dropdown-menu">
                        <!-- Version dropdown items -->
                    </div>
                </div>
            </div>
        </div>


<div class="s-container separator">




	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Flavor Class</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Flavor</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Description</a></div>


		</div>
		<div class="table-content">
			<div class="table-row">
				<div class="table-data">General Purpose<br><br>Compute<br><br>Memory<br><br>I/O<br><br>Standard</div>

				<div class="table-data"><div class="slider-container">
  <span class="addition-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
  <input type="range">
  <span class="subtraction-icon"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
</div></div>

				<div class="table-data"><h4>1 GB General Purpose v1</h4><br><br><p>Great for web servers, batch processing, network appliances, small databases, and most general purpose computing workloads. Storage is high-performance, RAID 10-protected SSD.</p></div>
			</div>

			</div>
		</div>
	</div>
</div>



</section>


{% endblock %}