{% extends "master1.html" %}
{% block title %} VM provisioning {% endblock %}
{% block content %}

<section xmlns="http://www.w3.org/1999/html">


    <div class="main-container">
        <div class="scontainer">
            <div class="srow">
                <h4 class="sleft">Create Server</h4>
                <p class="sright"><b>$1.0753</b>/day</p>
            </div>
            <div class="srow separator">
                <h4 class="sleft">Server details</h4>
            </div>
            <form class="sform separator">
                <div class="sform-group">
                    <label for="server-name">Server name:</label>
                    <input class="input-border" class='sform-group input' type="text" id="server-name" placeholder="server-09">
                    <i class="icon-help fas fa-question-circle"></i>
                </div>
                <div class="sform-group ">
                    <label for="region">Region:</label>
                    <input class="input-border" class='sform-group input' type="text" id="region" placeholder="Nairobi(NBI)">
                    <i class="icon-help fas fa-question-circle"></i>
                </div>
            </form>
        </div>
        <div class="container2 separator" style="width:70%;">
            <div class="scol-1">Virtual Server</div>
            <div class="scol-2">On Metal<sup>TM</sup>Server</div>
        </div>
        <div class="scontainer separator">
            <div class="srow">
                <h4 class="sleft">Image</h4>
                <div class="checkbox-container">
                    <input type="checkbox" id="show-most-popular-image-only">
                    <label for="show-most-popular-image-only"></label>
                    <p class="sright"> Show most popular image only</p>
                </div>
            </div>
        </div>

        <div class="s-container separator">
            <div class="s-side-nav">
                <div class="dropdown dropright">
                    <a href="#">
                     <i class="fas fa-image">Image Type</i>
                    </a>
                </div>

                <div class="dropdown dropright">
                    <a href="#" class="dropdown-toggle">
                    <i class="fab fa-linux">Linux applications</i>
                        </a>
                    <div class="dropdown-menu">
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                             <i class="fas fa-circle" style="float:left;"> AlmaLinux</i>
                                </a>

                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                            <i class="fas fa-circle">CentOS</i>
                            </a>
                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                              <i class="fas fa-circle">Debian</i>
                            </a>
                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                              <i class="fas fa-circle">  Fedora</i>
                            </a>
                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                              <i class="fas fa-circle">Fortinet</i>
                            </a>
                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                              <i class="fas fa-circle">Rocky Linux</i>
                            </a>
                        </div>
                        <div class="dropdown dropright">
                            <a href="#" class="dropdown-item">
                              <i class="fas fa-circle">Ubuntu</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="dropdown dropright">
                    <a href="#" class="dropdown-toggle">
                      <i class="fab fa-windows">Windows</i>
                    </a>
                                    <div class="dropdown-menu">
                        <!-- Windows dropdown items -->
                    </div>
                </div>


                <div class="dropdown dropright">
                    <a href="#" class="dropdown-toggle">
                      <i class="fas fa-save">Saved</i>
                    </a>
                    <div class="dropdown-menu">
                        <!-- Saved dropdown items -->
                    </div>
                </div>

            </div>



            <div class="s-top-nav">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle">
                          <i class="fas fa-laptop">Operating System</i>
                        </a>
                    <div class="dropdown-menu">
                        <!-- Operating System dropdown items -->
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle">
                          <i class="fas fa-code-branch">Version</i>
                        </a>
                    <div class="dropdown-menu">
                        <!-- Version dropdown items -->
                    </div>
                </div>
            </div>
        </div>

<div class="s-container separator">
    <p style="font-size:16px"><b>Flavor</b></p>
    <p>&nbsp; &nbsp; &#8226; &nbsp;</p>
    <p><a href="#">Comparison Chart</a></p>
</div>



<div class="s-container separator" >




	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Flavor Class</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Flavor</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Description</a></div>


		</div>
		<div class="table-content">
			<div class="table-row">
				<div class="table-data">General Purpose<br><br>Compute<br><br>Memory<br><br>I/O<br><br>Standard</div>

				<div class="table-data"><div class="slider-container">
  <span class="addition-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
  <input type="range">
  <span class="subtraction-icon"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
</div></div>

				<div class="table-data"><h4 style="text-align:left;">1 GB General Purpose v1</h4><br><p style="text-align:left;">Great for web servers, batch processing,
                    network appliances, small databases, and most general purpose
                    computing workloads. Storage is high-performance, RAID 10-protected SSD.</p><div class="s-container separator"><br> <table>

    <td style="text-align:left; color:gray;font-size:14px; font-style: italic;">
      <ul>
        <li>CPU</li>
        <li>RAM</li>
        <li>Boot Source</li>
        <li>System Disk</li>
        <li>Network</li>
          <li>Disk I/O</li>
          <li>Price</li>
      </ul>
    </td>
    <td style="text-align:left;font-size:14px; font-style: italic;">
       <ul>
        <li>1vCPU</li>
        <li>1GB</li>
        <li>Local</li>
        <li>20GB</li>
        <li>200 Mb/s</li>
          <li>Better</li>
          <li>$0.0391/hr</li>
           <li>server</li>
      </ul>
    </td>
    <td>
<img src="/static/image.jpg" alt="image description" style="margin-top:18px;">    </td>
  </tr>
</table>
  </div>
</div>
</div>
            </div>


<div class="s-container separator" style="width: 100%;">
    <p style="font-size:16px"><b>Advanced Options</b></p>
    <p>&nbsp; &nbsp; &#8226; &nbsp;</p>
    <p><a href="#">2 Networks</a></p>
</div>

        <div class="s-container separator" style="width: 100%;"><br><br>
            <h5 style="font-size:16px"><b>Recommended Installs</b></h5><br><br>


</div>
<p style="color:grey;">The following options are recommended by Rackspace Fanatical Support Specialists.
All checked options will be automatically installed and configured.</p><br><br>




<div>



        <div class="srow" style="font-size:11px;">
                <div class="checkbox-container">
                    <input type="checkbox" id="monitor" >
                    <label for="monitor" ></label>
                    <p class="sleft"> Monitor recomended server</p>
                </div>
                <p class="sright">metrix</p>
             <p class="sright" style="color:gray;">Free</p>

            </div><br>

         <div class="srow" style="font-size:11px;">
                <div class="checkbox-container" >
                    <input type="checkbox" id="operating">
                    <label for="operating"  ></label>
                    <p class="sleft"> Operating system</p>
                </div>
                <p class="sright">security patches</p>
             <p class="sright">applied on selected images</p>
              <p class="sright " style="color:gray;">Free</p>

            </div><br>

         <div class="srow" style="font-size:11px;">
                <div class="checkbox-container">
                    <input type="checkbox" id="protect">
                    <label for="protect" ></label>
                    <p class="sleft"> Protect your data with weekly</p>
                </div>
                <p class="sright">cloud Backups</p>
             <p class="sright" style="color:gray;">Starts at $0.4287/day</p>
              <p class="sright" style="color:gray;"> <i class="fas fa-clock"></i>
    <i class="fas fa-money-bill-alt"></i></p>

            </div><br>
</div>





         <div class="srow">
                <h4 class="sleft">Itemized <br>Charges</h4>
         </div>

                <div class="srow" style="font-size:11px;">
                <p class="sleft">Ubuntu 2204 LTS (Jammy Jellyfish) (Cloud)| 1GB General Purpose v1</p>

                 <p class="sright"> $0.1368/day</p>
             </div>



        <div class="srow" style="font-size:11px;">
                <p class="sleft">Service Fee</p>

                 <p class="sright"> $0.9384/day</p>
             </div>


        <div class="srow" style="font-size:11px;">
                <p class="sleft">Operating system security patches </p>

                 <p class="sright"> Included</p>
             </div>

  <div class="srow" style="font-size:11px; color:gray;">
  <p class="sleft" style="
    text-decoration: underline;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right,
                                      currentColor 70%,
                                      transparent 0),
                      repeating-linear-gradient(currentColor,
                                               currentColor 1px,
                                               transparent 1px,
                                               transparent 2px);
  ">Monthly minimums apply</p>
</div>










    <div class="s-container separator" style="width: 100%;">
        <div class="srow" style="font-size:11px;">
   <div class="buttons sleft">
  <input type="submit" class="create-btn" value="Create Server">
  <input type="submit" class="cancel-btn" value="Cancel">
</div>

    </div>

        <p class="sright"><b>Total $1.0752/day</b></p>
             </div>


</div>

</div>

</section>


{% endblock %}